.engage-Sect-Cont {
  background-image: url("https://media.tiffany.com/is/image/tiffanydm/2023_GW-HP-FWMH-Desktop?$tile$&wid=2992&fmt=webp");
  height: 532px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5em;
  position: relative;
}

.engage-Sect-desc {
  position: absolute;
  top: 0px;
  bottom: 15px;
  right: 152px;
  left: 65em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.engage-Sect-p {
  width: 334px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-left: 1.8em;
  letter-spacing: 0.1px;
}

.engage-Sect-title {
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 1.1em;
}
