.diam-Sect-Cont {
  background-image: url("https://media.tiffany.com/is/image/tiffanydm/2021_Bloomgberg-HP_FWMH-Desktop2?$tile$&wid=2992&fmt=webp");
  height: 531px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5em;
  position: relative;
}

.diam-Sect-desc {
  position: absolute;
  top: 0px;
  bottom: 100px;
  right: 152px;
  left: 3em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diam-Sect-p {
  width: 380px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.4px;
  margin-left: 1.8em;
  letter-spacing: 0.9px;
}

.diam-Sect-title {
  font-weight: 600;
  letter-spacing: 1.8px;
  margin-left: 1.1em;
}
