.allFilters-Cont {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.filter-Prod {
  display: flex;
}

.sort-Prod {
  display: flex;
}

.filter {
  margin: 0 1em;
}
.filter-jewl {
  margin-right: 0.8em;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.filter-Prod-title {
  color: gray;
  font-size: 15px;
  font-weight: 600;
}
